.page-title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 28px;
}
.page-body {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
}